body{
    background-color: rgb(248, 243, 233);
}

.footer {
    border-top: 2px solid slategray;
   margin-top: 25%;
    left: 0;
    bottom: 0;
    width: 100%;
   
    background-color: rgb(236, 193, 193);
    color: darkslategray;
    font-size: 15px;
    text-align: center;
  }
  .footer img{
      width: 25%;
      
  }