<table class="table" *ngIf="itemsInCart.length > 0">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsInCart; let i = index">
            <td>{{ item.name }}</td>
            <td><button class="btn btn-info" [class.disabled]="item.quantity == 0" (click)="onDecreaseQty(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;<button class="btn btn-info" [class.disabled]="item.quantity == item.available" (click)="onIncreaseQty(item)">+</button></td>
            <td>{{ item.subTotal | currency }}</td>
            <td>{{  item.totalTax  | currency }}</td>
            <td>{{ item.total  | currency }}</td>
            <td><button class="btn btn-danger float-right" (click)="onRemoveItemFromCart(i)">Remove</button></td>
        </tr>
    </tbody>
</table>

<br>
<br>
<button *ngIf="itemsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button><br><br>
<table class="table" *ngIf="showOrder === true" (click)="onPurchase()">
        <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Qty Purchased</th>
                    <th scope="col">Price</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Total </th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of itemsInCart; let i = index">
                    <td>{{ item.name }}</td>
                    <td> x &nbsp; {{ item.quantity }}</td>
                    <td> {{ item.subTotal | currency }}</td>
                    <td> {{  item.totalTax  | currency }}</td>
                    <td>{{ item.total  | currency }}</td>
                </tr>
            </tbody>
    
        </table>
       <hr>
<div class="table" *ngIf="showOrder === true" (click)="onPurchase()">
    <thead>
        <tr>
            <th scope="col">Subtotal</th>
            <th scope="col">Total Taxes</th>
            <th scope="col">Grand Total</th>
        </tr>
    </thead>
 
    <tbody>
            <tr>
                <td>{{ cartTotal | currency}}</td>
                <td> {{ grandTaxes | currency }}</td>
                <td> {{ total | currency }}</td>
                
            </tr>
        </tbody>
        <hr>
<p>Purchase complete! Thank you for your support! Stay beYOUtiful!</p>
</div>
<h1 *ngIf="itemsInCart.length == 0">{{ infoText }}</h1>


