h1{
    text-align: center;
    color: darkslategray;
}

.btn-info{
    background-color: rgb(153, 56, 88);
}

.btn-success{
    background-color: lightseagreen;
}

p{
    text-align: center;
    font-size: 30px;
    color: darkslategray;
}
    
