
  <div class="jumbotron jumbotron-fluid">
    <div class="container space">
      <img src="../../assets/images/white_logo_transparent_background.png" alt="model" class="logo" />
    </div>
  </div>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-lightgrey">
        <!-- <a class="navbar-brand" routerLink="/">{{ title }}</a> -->
        <a class="navbar-brand" routerLink="/goods" routerLinkActive="link-active">Shop &nbsp; &nbsp; |</a>
        <a class="navbar-brand" routerLink="/cart" routerLinkActive="link-active">&nbsp; Cart &nbsp; </a>
        
        <!-- <a class="navbar-brand" routerLink="/admin" routerLinkActive="link-active">Admin</a>
        <button class="btn" (click)="onToggleAuthenticated()">Logged In: {{ adminService.authenticated }}</button> -->
     
    
</nav>